/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/gems.locked

/ext/event/Makefile
/ext/event/mkmf.log
/ext/event/extconf.h
/ext/event/**/*.o
/ext/event/**/*.so
/ext/event/**/*.bundle